<div class="navbar">
    <div><fa-icon [icon]="faShoppingCart" style="color: white;"></fa-icon>
        <span>
            upGrad EShop
        </span>
    </div>
    <div class="container">
         <div class="search_wrap">
             <div class="search_box">
                 <input type="text" class="input" placeholder="Type to search Products.." >
                 <div class="btn btn_common">
                    <fa-icon [icon]="faSearchIcon" style="color:#33b5e5"></fa-icon>
                 </div>
             </div>
        </div>
    </div>
    <div>
         <a id="accountbtn">  <fa-icon [icon]="faUserIcon"></fa-icon>  Account </a>
    </div>
</div>
<div class="footer">
    <div>
      Copyright &copy; 2020 All Rights Reserved
    </div>
    <div>
       Designed & Developed for upGrad
    </div>
</div>