<div class="view">
    <div>
        <nav class="navbar">
            <a class="navbar-brand" href="#" style="color: white;">
                <fa-icon [icon]="faShoppingCart" style="color: white;" class="d-inline-block align-top"></fa-icon>
              upGrad Eshop
            </a>
          </nav>
    </div>
    <div class="container">
        <div class="search_wrap">
            <div class="search_box">
                <input type="text" class="input" placeholder="Type to search Products.." >
                <div class="btn btn_common">
                    <fa-icon [icon]="faSearchIcon" style="color:#33b5e5"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div>
        <nav>
            <ul>
           <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <fa-icon [icon]="faUserIcon"></fa-icon> Account
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a type="button" id="signinbtn" class=" dropdown-item" (click) = "show()">Sign in</a>
            </div>
        </li>
        </ul>
        </nav>
        <div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" (click) = "hide()">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form (ngSubmit)='onSubmit(signinForm.value)' #signinForm ="ngForm">
                           <ul class="nav nav-pills mb-3 justify-content-center" id="pills-tab" role="tablist">
                                <li class="nav-item">
                                  <button class="nav-link active" id="signin-tab"  (click)="onSigninClick()" data-toggle="pill"  role="tab" aria-controls="pills-sign in" aria-selected="true">Sign in</button>
                                </li>
                                <li class="nav-item">
                                  <button class="nav-link" id="signup-tab"  (click)="onSignupClick()" data-toggle="pill"  role="tab" aria-controls="pills-sign up" aria-selected="false">Sign up</button>
                                </li>
                            </ul>
                            <!-- signin modal -->
<!--                        
                            <div id="signincard" [style.display]="signincard ? 'block' : 'none'">
                                <div class="card">
                                    <h5 class="card-header card text-center" style="height: 30;">Sign in</h5>
                                     <div class="card-body">
                                        <div class="form-group row">
                                            <label for="email" class="col-sm-3 col-form-label col-form-label-sm"><strong>Email ID:</strong></label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" name="email" id="email" required [(ngModel)] ="email" #emailVar="ngModel"
                                                [ngClass]="{'is-invalid':(emailVar.touched || emailVar.dirty) && !emailVar.valid }"/>
                                                <span class="invalid-feedback">
                                                    <span *ngIf="emailVar.errors?.required">
                                                        Email is requried.
                                                    </span>
                                                    <span *ngIf="emailVar.errors?.email">
                                                        please enter a valid email.
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="password" class="col-sm-3 col-form-label col-form-label-sm"><strong>Password:</strong></label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" name="password" id="password" required [(ngModel)] ="password" #passwordVar="ngModel"
                                                [ngClass]="{ 'is-invalid':(passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }" />
                                                <span class="invalid-feedback">
                                                    <span *ngIf="passwordVar.errors?.required">
                                                        Please enter password.
                                                    </span>
                                                    <span *ngIf="passwordVar.errors?.minlength">
                                                        Password must be at least 6 characters long.
                                                    </span>
                                                </span>
                                            </div>
                                        </div>
                                        <button id="btnsignin"class="btn btn-primary" [disabled]="!signinForm.valid">Sign in</button>
                                    </div>
                                </div>
                           </div> -->
                                     
                           <div id="signincard" [style.display]="signincard ? 'block' : 'none'">
                            <div>
                                <div class="form-group row">
                                        <label for="email" class="col-sm-3 col-form-label col-form-label-sm"><strong>Email ID:</strong></label>
                                        <div class="col-sm-9">
                                            <input type="email" class="form-control" name="email" id="email" required [(ngModel)] ="email" #emailVar="ngModel"
                                            [ngClass]="{'is-invalid':(emailVar.touched || emailVar.dirty) && !emailVar.valid }"/>
                                            <span class="invalid-feedback">
                                                <span *ngIf="emailVar.errors?.required">
                                                    Email is requried.
                                                </span>
                                                <span *ngIf="emailVar.errors?.email">
                                                    please enter a valid email.
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="password" class="col-sm-3 col-form-label col-form-label-sm"><strong>Password:</strong></label>
                                        <div class="col-sm-9">
                                            <input type="password" class="form-control" name="password" id="password" required [(ngModel)] ="password" #passwordVar="ngModel"
                                            [ngClass]="{ 'is-invalid':(passwordVar.touched || passwordVar.dirty) && !passwordVar.valid }" />
                                            <span class="invalid-feedback">
                                                <span *ngIf="passwordVar.errors?.required">
                                                    Please enter password.
                                                </span>
                                                <span *ngIf="passwordVar.errors?.minlength">
                                                    Password must be at least 6 characters long.
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <button id="btnsignin"class="btn btn-primary" [disabled]="!signinForm.valid">Sign in</button>
                                </div>
                            </div>
                    </form>
                    
                    <!-- sign up modal -->
<!--                     
                    <diV id="signupcard" [style.display]="signupcard ? 'block' : 'none'">
                        <div class="card" >
                            <h5 class="card-header card text-center">Sign up</h5>
                            <div class="card-body">
                                <form #signupForm="ngForm" (ngSubmit)="signupUser(signupForm.value)">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label col-form-label-sm">First Name:</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="firstName" class="form-control" id="firstName" #firstVar="ngModel" [(ngModel)]="firstName"  required
                                            [ngClass]="{ 'is-invalid':(firstVar.touched || firstVar.dirty) && !firstVar.valid }" />
                                            <span class="invalid-feedback">
                                                <span *ngIf="firstVar.errors?.required">
                                                   FirstName is required
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label col-form-label-sm">Last Name:</label>
                                        <div class="col-sm-9">
                                            <input type="text"  id="lastName"class="form-control" name="lastName" #lastVar="ngModel" [(ngModel)]="lastName" />
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label col-form-label-sm">Email ID:</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="email" id="email1" class="form-control" #emailVars="ngModel" [(ngModel)]="email"   required 
                                            [ngClass]="{'is-invalid':(emailVars.touched || emailVars.dirty) && !emailVars.valid }"/>
                                            <span class="invalid-feedback">
                                                <span *ngIf="emailVars.errors?.required">
                                                    Email id is requried.
                                                </span>
                                                <span *ngIf="emailVars.errors?.email">
                                                    please enter a valid email.
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label col-form-label-sm">Mobile Number:</label>
                                        <div class="col-sm-9">
                                            <input type="text" name ="mobile" id="moblie" class="form-control" #mobileVar="ngModel" [(ngModel)]="mobileNumber" required  
                                            [ngClass]="{ 'is-invalid':(mobileVar.touched || mobileVar.dirty) && !mobileVar.valid }" />
                                            <span class="invalid-feedback">
                                                <span *ngIf="mobileVar.errors?.required">
                                                    Mobile number is requried.
                                                </span>
                                                <span *ngIf="mobileVar.errors?.minlength">
                                                   Mobile must be 10 characters long.
                                                </span>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                         <label class="col-sm-3 col-form-label col-form-label-sm">Password:</label>
                                        <div class="col-sm-9">
                                        <input type="password" name="password" id="password1"class="form-control" #passwordVars="ngModel"  required minlength="5" appPasswordPatre
                                        [(ngModel)]="password"  [ngClass]="{ 'is-invalid':(passwordVars.touched || passwordVars.dirty) && !passwordVars.valid }" />
                                        <span class="invalid-feedback">
                                           <span *ngIf="passwordVars.errors?.required">
                                               Please enter password.
                                           </span>
                                           <span *ngIf="passwordVars.errors?.minlength">
                                           Password should have minimum 5 characters, at least 1 uppercase letter, 1 lowercase
                                           letter and 1 number
                                           </span>
                                       </span>
                                       
                                       </div>
                                   </div>
                                   <div class="form-group row">
                                   <label class="col-sm-3 col-form-label col-form-label-sm">Confirm Password:</label>
                                   <div class="col-sm-9">
                                       <input type="password" name="confirmPassword" id="confirmPassword"class="form-control" #confirmVar="ngModel" [(ngModel)]="confirmPassword" required  
                                       [ngClass]="{ 'is-invalid':(confirmVar.touched || confirmVar.dirty) && !confirmVar.valid }" />
                                       <span class="invalid-feedback">
                                           <span *ngIf="confirmVar.errors?.required">
                                               Please enter password.
                                           </span>
                                           <span *ngIf="confirmVar.errors?.minlength">
                                               Password must be at least 6 characters long.
                                           </span>
                                       </span>
                                       
                                   </div>
                                   </div>
                                   <button type="submit" id="btnsignup" class=" btn btn-primary text-center" [disabled]="!signupForm.value">Sign up</button>
                               </form>
                           </div>
                       </div>
               </diV> -->
                              
               <diV id="signupcard" [style.display]="signupcard ? 'block' : 'none'">
                    <div>
                        <form #signupForm="ngForm" (ngSubmit)="signupUser(signupForm.value)">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label col-form-label-sm">First Name:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="firstName" class="form-control" id="firstName" #firstVar="ngModel" [(ngModel)]="firstName"  required
                                    [ngClass]="{ 'is-invalid':(firstVar.touched || firstVar.dirty) && !firstVar.valid }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="firstVar.errors?.required">
                                           FirstName is required
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label col-form-label-sm">Last Name:</label>
                                <div class="col-sm-9">
                                    <input type="text"  id="lastName"class="form-control" name="lastName" #lastVar="ngModel" [(ngModel)]="lastName" />
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label col-form-label-sm">Email ID:</label>
                                <div class="col-sm-9">
                                    <input type="text" name="email" id="email1" class="form-control" #emailVars="ngModel" [(ngModel)]="email"   required 
                                    [ngClass]="{'is-invalid':(emailVars.touched || emailVars.dirty) && !emailVars.valid }"/>
                                    <span class="invalid-feedback">
                                        <span *ngIf="emailVars.errors?.required">
                                            Email id is requried.
                                        </span>
                                        <span *ngIf="emailVars.errors?.email">
                                            please enter a valid email.
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label col-form-label-sm">Mobile Number:</label>
                                <div class="col-sm-9">
                                    <input type="text" name ="mobile" id="moblie" class="form-control" #mobileVar="ngModel" [(ngModel)]="mobileNumber" required  
                                    [ngClass]="{ 'is-invalid':(mobileVar.touched || mobileVar.dirty) && !mobileVar.valid }" />
                                    <span class="invalid-feedback">
                                        <span *ngIf="mobileVar.errors?.required">
                                            Mobile number is requried.
                                        </span>
                                        <span *ngIf="mobileVar.errors?.minlength">
                                           Mobile must be 10 characters long.
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row">
                                 <label class="col-sm-3 col-form-label col-form-label-sm">Password:</label>
                                <div class="col-sm-9">
                                <input type="password" name="password" id="password1"class="form-control" #passwordVars="ngModel"  required minlength="5" appPasswordPatre
                                [(ngModel)]="password"  [ngClass]="{ 'is-invalid':(passwordVars.touched || passwordVars.dirty) && !passwordVars.valid }" />
                                <span class="invalid-feedback">
                                   <span *ngIf="passwordVars.errors?.required">
                                       Please enter password.
                                   </span>
                                   <span *ngIf="passwordVars.errors?.minlength">
                                   Password should have minimum 5 characters, at least 1 uppercase letter, 1 lowercase
                                   letter and 1 number
                                   </span>
                               </span>
                               
                               </div>
                           </div>
                           <div class="form-group row">
                           <label class="col-sm-3 col-form-label col-form-label-sm">Confirm Password:</label>
                           <div class="col-sm-9">
                               <input type="password" name="confirmPassword" id="confirmPassword"class="form-control" #confirmVar="ngModel" [(ngModel)]="confirmPassword" required  
                               [ngClass]="{ 'is-invalid':(confirmVar.touched || confirmVar.dirty) && !confirmVar.valid }" />
                               <span class="invalid-feedback">
                                   <span *ngIf="confirmVar.errors?.required">
                                       Please enter password.
                                   </span>
                                   <span *ngIf="confirmVar.errors?.minlength">
                                       Password must be at least 6 characters long.
                                   </span>
                               </span>
                               
                           </div>
                           </div>
                           <button type="submit" id="btnsignup" class=" btn btn-primary text-center" [disabled]="!signupForm.value">Sign up</button>
                       </form>
                   </div>
       </diV>
           </div>
           </div>
       </div> 
       </div>
    </div>
</div>
